/* styles.css */
body, html {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}


h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

.radio-group, .meat-consumption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meat-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.meat-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    object-fit: cover;
}

.number-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-input button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.number-input input {
    width: 50px;
    text-align: center;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
#nombre{
width: 95%;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;  /* Ajusta el espacio debajo de la imagen si es necesario */
}

#logo,#logo2 {
    width: 100px;
    height: auto;
    border-radius:70%;
}

.radio-images {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.radio-images label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.radio-images img {
    width: 100px;  /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.radio-images input[type="radio"]:checked + img {
    border-color: #007bff;  /* Color del borde cuando está seleccionado */
}
.label{
text-shadow: 1px 1px 2px #8ebdb6;
}
.radio-edad label {
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.radio-edad input[type="radio"] {
    margin-right: 5px;
}
.image-container img {
    display: block;
    margin: 0 auto;
    max-width: 100px;  /* Ajusta el tamaño según sea necesario */
}

#resultado-imagen {
    max-width: 350px;  /* Ajusta el tamaño según sea necesario */
    margin-top: 20px;
}
/* Responsive Design */
@media (max-width: 600px) {
    .container {
        width: 95%; /* Adjust the width for mobile devices */
        margin: 10px; /* Ensure proper spacing on mobile */
        padding: 15px; /* Adjust padding for mobile */
    }
}