<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>
<body>
<form action="/resultados" method="POST">
    <label for="dni">dni:</label>
        <input type="text" id="dni" name="dni">
        <label for="usuario">Usuario:</label>
         <input type="text" id="usuario" name="usuario">
        <label for="contrasenna">Contraseña </label>
        <input type="password" name="contrasenna" id="contrasenna" >
        <br><br>
        <input type="submit" value="Enviar">

</form>
</body>
</html>