<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de la Huella Hídrica </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>
<body>
    <div class="container">
        <form action="/resultados" method="post">
           <div class="image-container">
        <img src="{{ url_for('static', filename='img/labioc.png') }}" alt="Logo de Labioc" id="logo">
    </div>
            <h2>Calculadora de la Huella Hídrica</h2>

            <label for="nombre" class="label">Nombre/Apodo:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label class="label">Rango de edad</label>
            <div class="radio-edad" >
                <label><input type="radio" name="edad" value="014" required>0-14</label>
                <label><input type="radio" name="edad" value="1524">15-24     </label>
                <label><input type="radio" name="edad" value="2535">25-35     </label>
                <label><input type="radio" name="edad" value="3655">36-55    </label>
                <label><input type="radio" name="edad" value="56">+56  </label>
            </div>

            <label for="ciudad" class="label">¿Dónde vivís?</label>
            <select id="ciudad" name="ciudad" required>
                <option value="" disabled selected>Selecciona tu ciudad</option>
                <option value="caba">Ciudad Autónoma de Buenos Aires</option>
                <option value="bsas">Bs.As.</option>
                <option value="catamarca">Catamarca</option>
                <option value="chaco">Chaco</option>
                <option value="chubut">Chubut</option>
                <option value="cordoba">Córdoba</option>
                <option value="corrientes">Corrientes</option>
                <option value="entrerios">Entre Ríos</option>
                <option value="formosa">Formosa</option>
                <option value="jujuy">Jujuy</option>
                <option value="lapampa">La Pampa</option>
                <option value="larioja">La Rioja</option>
                <option value="mendoza">Mendoza</option>
                <option value="misiones">Misiones</option>
                <option value="neuquen">Neuquén</option>
                <option value="Río Negro">Río Negro</option>
                <option value="salta">Salta</option>
                <option value="sanjuan">San Juan</option>
                <option value="sanluis">San Luis</option>
                <option value="santacruz">Santa Cruz</option>
                <option value="santafe">Santa Fe</option>
                <option value="santiago">Santiago del Estero</option>
                <option value="tierradelfuego">Tierra del Fuego</option>
                <option value="tucuman">Tucumán</option>
            </select>

            <label class="label">En tu vivienda, ¿qué tipo de canilla tenes?</label>
            <div class="radio-images" >
                <label><input type="radio" name="canilla" value="foto1" required>
                    <img src="{{ url_for('static', filename='img/foto1.jpg') }}" alt="" srcset=""></label>
                <label><input type="radio" name="canilla" value="foto2">
                <img src="{{ url_for('static', filename='img/foto2.jpg') }}" alt="" srcset=""></label>
            </div>

            <label for="ducha" class="label">¿Cuántos minutos tardas en ducharte?</label>
            <div class="number-input">
                <button type="button" onclick="modifyValue('ducha', -1)">-</button>
                <input type="number" id="ducha" name="ducha" value="10" min="0" required>
                <button type="button" onclick="modifyValue('ducha', 1)">+</button>
            </div>

            <label for="manos" class="label">¿Cuántos minutos dejas abierta la canilla cuando te lavas las manos?</label>
            <div class="number-input">
                <button type="button" onclick="modifyValue('manos', -1)">-</button>
                <input type="number" id="manos" name="manos" value="5" min="0" required>
                <button type="button" onclick="modifyValue('manos', 1)">+</button>
            </div>

            <label class="label">Cuando te lavas los dientes… ¿cerras la canilla?</label>
            <div class="radio-group">
                <label><input type="radio" name="dientes" value="si" required> Si</label>
                <label><input type="radio" name="dientes" value="no"> No</label>
            </div>

            <label class="label">A la hora de lavar los platos…</label>
            <div class="radio-group">
                <label><input type="radio" name="platos" value="1" required> Abro y cierro la canilla</label>
                <label><input type="radio" name="platos" value="2"> Dejo abierta la canilla ya que es más fácil</label>
                <label><input type="radio" name="platos" value="3"> Tengo lavavajilla</label>
            </div>

            <label for="lavarropas" class="label">¿Cuántos lavarropas usas a la semana?</label>
            <div class="number-input">
                <button type="button" onclick="modifyValue('lavarropas', -1)">-</button>
                <input type="number" id="lavarropas" name="lavarropas" value="1" min="0" required>
                <button type="button" onclick="modifyValue('lavarropas', 1)">+</button>
            </div>

            <label class="label">¿En la mochila de tu inodoro tenes la opción de doble descarga?</label>
            <div class="radio-group">
                <label><input type="radio" name="descarga" value="si" required> Si</label>
                <label><input type="radio" name="descarga" value="no"> No</label>
            </div>

            <label class="label">¿Tienes pérdidas de agua en las canillas de tu hogar?</label>
            <div class="radio-group">
                <label><input type="radio" name="perdidas" value="si" required> Si</label>
                <label><input type="radio" name="perdidas" value="no"> No</label>
            </div>

            <label for="coche" class="label">Si tenes coche… ¿cuántas veces lo lavas al mes?</label>
            <div class="number-input">
                <button type="button" onclick="modifyValue('coche', -1)">-</button>
                <input type="number" id="coche" name="coche" value="0" min="0" required>
                <button type="button" onclick="modifyValue('coche', 1)">+</button>
            </div>
            <label class="label" >¿Cómo limpias la vereda o pasillos?</label>
            <div class="radio-group">
                <label><input type="radio" name="vereda" value="1" required> Limpio directamente con el agua de la manguera sin cerrar la canilla</label>
                <label><input type="radio" name="vereda" value="2"> Limpio con manguera pero voy cerrando la canilla</label>
                <label><input type="radio" name="vereda" value="3"> Uso balde</label>
                <label><input type="radio" name="vereda" value="0"> No uso agua para limpiar la vereda/no tengo vereda para limpiar</label>

            </div>

            <label for="ropa" class="label">Si hablamos de comprar ropa ¿Cuántas prendas te compras al año?</label>
            <div class="number-input">
                <button type="button" onclick="modifyValue('ropa', -1)">-</button>
                <input type="number" id="ropa" name="ropa" value="12" min="0" required>
                <button type="button" onclick="modifyValue('ropa', 1)">+</button>
            </div>

            <label class="label">Alimentación - Indicar el consumo de carne a la semana</label>
            <div class="meat-consumption">
                <div class="meat-item">

                    <img src="{{ url_for('static', filename='img/vaca.png')}}" alt="Carne de vaca">
                    <div class="number-input">
                        <button type="button" onclick="modifyValue('vaca', -1)">-</button>
                        <input type="number" id="vaca" name="vaca" value="0" min="0" required>
                        <button type="button" onclick="modifyValue('vaca', 1)">+</button>
                    </div>
                </div>
                <div class="meat-item">
                    <img src="{{ url_for('static', filename='img/pollo.png')}}" alt="Carne de pollo">
                    <div class="number-input">
                        <button type="button" onclick="modifyValue('pollo', -1)">-</button>
                        <input type="number" id="pollo" name="pollo" value="0" min="0" required>
                        <button type="button" onclick="modifyValue('pollo', 1)">+</button>
                    </div>
                </div>
                <div class="meat-item">
                    <img src="{{ url_for('static', filename='img/cerdo.png')}}" alt="Carne de cerdo">
                    <div class="number-input">
                        <button type="button" onclick="modifyValue('cerdo', -1)">-</button>
                        <input type="number" id="cerdo" name="cerdo" value="0" min="0" required>
                        <button type="button" onclick="modifyValue('cerdo', 1)">+</button>
                    </div>
                </div>
            </div>
            <label for="frutas" class="label">Indicar el consumo en kg de frutas por semana</label>
            <div class="meat-item">
                <img src="{{ url_for('static', filename='img/fruta.png')}}" alt="Frutas">
            <div class="number-input">
                <button type="button" onclick="modifyValue('frutas', -1)">-</button>
                <input type="number" id="frutas" name="frutas" value="0" min="0" required>
                <button type="button" onclick="modifyValue('frutas', 1)">+</button>
            </div>
            </div>
            <label for="verduras" class="label">Indicar el consumo en kg de verduras por semana</label>
            <div class="meat-item">
                <img src="{{ url_for('static', filename='img/verduras.png')}}" alt="Verduras">
            <div class="number-input">
                <button type="button" onclick="modifyValue('verduras', -1)">-</button>
                <input type="number" id="verduras" name="verduras" value="0" min="0" required>
                <button type="button" onclick="modifyValue('verduras', 1)">+</button>
            </div>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
