<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
</head>
<body>
<div id="container" style="margin-top: 20px;">
<div class="image-container">
        <img src="{{ url_for('static', filename='img/labioc.png') }}" alt="Logo de Labioc" id="logo">
    </div><br>

 <h1 class="label">Hola {{ nombre }}, consumis aproximadamente {{ litros_f }} litros de agua por año.</h1>

<p>El promedio mundial es de 1.240.000 litros/año.</p>
<h3>{{ mensaje }}</h3>
    <div class="image-container">
        <img src="{{ url_for('static', filename='img/' ~ imagen) }}" alt="Resultado" id="resultado-imagen">
    </div>
</div>
</body>
</html>