<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
{{ nombre1 }}
 <h1>Hola {{ nombre }} eres de {{ ciudad }}</h1>
 <p>La canilla que tenes es {{ canilla }}.</p>
 <p>El tiempo de ducha es de {{ ducha }} minutos.</p>
 <p>El tiempo de las manos es de {{ manos }} minutos.</p>
 <p>El tiempo de los dientes es de {{ dientes }} minutos.</p>
 <p>El tiempo de los platos es de {{ platos }} minutos.</p>
 <p>El tiempo de los lavarropas es de {{ lavarropas }} minutos.</p>
 <p>El tiempo de la descarga es de {{ descarga }} minutos.</p>
 <p>El tiempo de las perdidas es de {{ perdidas }} minutos.</p>
 <p>El tiempo de los coches es de {{ coche }} veces al mes.</p>
 <p>La ropa que tenes es {{ ropa }}.</p>
 <p>La vaca que tenes es {{ vaca }}.</p>
 <p>El pollo que tenes es {{ pollo }}.</p>
 <p>El cerdo que tenes es {{ cerdo }}.</p>

</body>
</html>